body {
  margin: 20;

  font-size: 26px;
  line-height: 1.4em;
  color: #0093b5;
  background-color: white;
  min-height: 100vh;
}
.App {
  text-align: center;
  background: white;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  margin: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0;
  color: #0093b5;
  line-height: 1.3em;
  font-weight: 700;
}

h1,
h2 {
  letter-spacing: 2px;
  color: #05556d;
}

h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "lato", helvetica, sans-serif;
}

h1 {
  color: #05556d;
  text-shadow: 2px 2px 5px #0093b5;
  font-size: 44px;
  letter-spacing: 4px;
}

a {
  color: #0093b5;
  text-decoration: none;
}

button {
  background-color: white;
  border: 0;
}
.App-header {
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px 1rem 15px 0;
  background: white;
}

.header {
  display: flex;
  flex-direction: column;
}
.list-item{
  color: black;
  font-family: monospace;
  font-size: 20px;
}
.logo {
  position: fixed;
  width: 150px; /* Adjust the width as per your preference */
  height: auto; /* Maintain aspect ratio */
  left: 0;
  margin-left: 50px;
}
.text-color {
  color: #05556d;
}

.show-saved{
margin-top: 200px;

}
.submit-button {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: white;
  display: inline-block;
  background-color: #fc7625;
  text-align: center;
  line-height: 36px;
  padding: 25px;
  margin: 10px;
  font-size: 1.5rem;
}

.submit-button:hover {
  background-color: #16c1f3;
  color: white;
  transition: 0.3s;
}

.submit-button-disable {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: white;
  display: inline-block;
  background-color: #fc7625;
  text-align: center;
  line-height: 36px;
  padding: 25px;
  margin: 10px;
  font-size: 1.5rem;
}

.submit-button-disable:hover {
  background-color:  #05556d;
  color: white;
  transition: 0.3s;
}


.submit-button:hover .link-on-blue {
  color: #05556d;
}

.log-button {
  position: fixed;
  top: 28px;
  right: 0;
  margin-right: 60px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: white;
  background-color: #fc7625;
  text-align: center;
  padding: 4px;
  font-size: 1rem;
}

.log-button:hover {
  background-color: #16c1f3;
  color: white;
  transition: 0.3s;
}

.log-button:hover .link-on-blue {
  color: #05556d;
}

.profilebox {
  padding-top: 115px;
  padding-bottom: 15px;
  margin: 5px;
  
}
.question {
  text-align: left;
  margin: 0 auto;
  max-width: 75%;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logged-out {
  margin-top: 17%;
}

.App-link {
  color: #61dafb;
}

.example {
  font-size: x-small;
  display: flex;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
